<fc-header />

<ion-content class="ion-padding">
  <div class="auth-wrapper">
    <ion-input
      fill="solid"
      label="Email"
      labelPlacement="stacked"
      type="email"
      placeholder="user@domain.com"
      [clearInput]="true"
      [(ngModel)]="email"
    ></ion-input>

    <ion-input
      fill="solid"
      label="Password"
      labelPlacement="stacked"
      placeholder="******"
      [type]="passwordVisible() ? 'text' : 'password'"
      [(ngModel)]="password"
    >
      <ion-button
        fill="clear"
        slot="end"
        aria-label="Show/hide"
        (click)="togglePasswordVisibility()"
      >
        <ion-icon
          slot="icon-only"
          [name]="passwordVisible() ? 'eye-off-outline' : 'eye'"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-input>

    <ion-button
      class="ion-margin-top"
      expand="full"
      [disabled]="!canLogin"
      (click)="onLogin()"
      >Login</ion-button
    >
  </div>
</ion-content>
