<fc-header />

<ion-content class="ion-padding">
  <div class="auth-wrapper">
    <ion-input
      fill="solid"
      [label]="'signin.inputs.email.placeholder' | translate"
      labelPlacement="stacked"
      type="email"
      placeholder="user@domain.com"
      [clearInput]="true"
      [(ngModel)]="email"
    ></ion-input>

    <ion-input
      fill="solid"
      [label]="'signin.inputs.password.placeholder' | translate"
      labelPlacement="stacked"
      placeholder="******"
      [type]="passwordVisible() ? 'text' : 'password'"
      [(ngModel)]="password"
    >
      <ion-button
        fill="clear"
        slot="end"
        aria-label="Show/hide"
        (click)="togglePasswordVisibility()"
      >
        <ion-icon
          slot="icon-only"
          [name]="passwordVisible() ? 'eye-off-outline' : 'eye'"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-input>

    <ion-button
      class="ion-margin-top"
      expand="full"
      [disabled]="!canLogin || loading()"
      (click)="onLogin()"
      >{{'signin.login-button.title' | translate}} @if(loading()) {<ion-spinner
        name="dots"
      />}</ion-button
    >
  </div>
</ion-content>
